{% extends "base.html" %} 
{% block title %}{{blog.title}}{% endblock title %}
{% block body %}
<h1>{{blog.title}}</h1>

Blog by {{blog.user_name.username}} Uploaded on {{blog.time}} ID {{blog.serial_num}} | {{blog.pk}}
<br>
<br>
{{blog.content | safe}}
<br>
<hr>
<br>
<form action = "{% url "like_blog" blog.serial_num %}" method="POST">
{% csrf_token %}
{% if liked %}
<button type='submit', name="serial_num", value="{{blog.serial_num}}", class="btn btn-danger btn-small">
    {{total_likes}}</button>
{% else %}
<button type='submit', name="serial_num", value="{{blog.serial_num}}", class="btn btn-primary btn-small">
{{total_likes}}</button>
{% endif %}
</form>
<br>
<hr>
<h2>Comments</h2>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample-top" aria-expanded="false" aria-controls="collapseExample">
    Add Comment
</button>
{% if user.is_authenticated %}
<div class="collapse" id="collapseExample-top">
    <div class="card card-body">
        <form method="POST" style="max-width:90%;">
    
            {% csrf_token %}
            {{ form.media }}
            {{form}}
        
            <button type="Submit">Add Comment</button>
        </form>
    </div>
  </div>
  {% else %}
  <div class="collapse" id="collapseExample-top">
    <div class="card card-body">
        You must login to add a comment!
            <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
    </div>
  </div>
  {% endif %}
<br>
{% if not blog.comments.all%}
{%else%}
{% for comment in blog.comments.all %}
{{comment.user.username}}
{{comment.body | safe}}

{% endfor %}
{% endif %}
{% endblock body %}